
* {
    font-family: 'Lora', serif;
}

/*Styling To Build 3D Cube*/
.content_container {
    background-image: url(assets/images/gallery3.jpg);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-position: center;
    perspective: 3000px;
    background-size: cover;
    top: 0;
    left: 0;
}

/*The Containing Cube Object*/
.gallery_column {
    height: 100vh;
    transform: translate3d(-49vmin, 0, -49vmin);
    transform-origin: 49vmin 0 -49vmin;
    position: absolute;
    transform-style: preserve-3d;
    transition: 1.9s;
}

/*Styling and positioning for each individual side of the cube*/
.gallery_wall_1, .gallery_wall_2, .gallery_wall_3, .gallery_wall_4, .gallery_top {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url(assets/images/witewall_3.png);
    border: 2px solid antiquewhite;
}

.gallery_wall_1 {
    transform: translate3d(-49vmin, 0, -49vmin) rotate3d(0, 1, 0, -90deg);
}

.gallery_wall_2 {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
}

.gallery_wall_3 {
    transform: translate3d(49vmin, 0, -49vmin) rotate3d(0, 1, 0, 90deg);
}

.gallery_wall_4 {
    transform: translate3d(0, 0, -98vmin) rotate3d(0, 1, 0, 180deg);
}
.gallery_top {
    transform: translate3d(0, -49vmin, -49vmin) rotate3d(1, 0, 0, 90deg);
    width: 98vmin;
    height: 98vmin;
    display: flex;
    justify-content: center;
}

/*Stying and positioning for the Text on the Top Face of the Cube*/
.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.topRow > p {
    margin: 5px;
}
a {
    color: black;
}

/*Styling and Positioning for the Gallery Layout on the front, back, and sides of the Cube*/
.gallery_container_div {
    height: 98vmin;
    width: 98vmin;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: column wrap;
}

/*Styling and Positioning for the Featured Painting*/
.painting_container_div {
    position: relative;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painting_frame_div {
    background-image: url(assets/images/squareFrame.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%
}

.painting_image_container_div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content:  center;
    width: 90%;
    height: 90%;
    background-image: url(assets/images/tweed.png);
    border: 30px solid transparent;
    box-sizing: border-box;
}

.painting_image_div {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nameplate {
    position: absolute;
    bottom: -160px;
    background-image: url(assets/images/nameplate.png);
    height: 70.56%;
    width: 60%;
    background-size: contain;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nameplate h3 {
    position: relative;
    bottom: 3px;
    left: 4px;
}


/*Styiling and Positioning for the Google Map*/
.map_container_div {
    width: 60%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_frame_div {
    background-image: url('assets/images/blackFrame.png');
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.map_image_div {
    position: absolute;
    width: 89%;
    height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/*Styling and Positioning for the Artist Portrait*/
.artist_container_div {
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist_image_div {
    border-radius: 100%;
    background-size: contain;
    position: absolute;
    width: 65%;
    height: 65%;
}

.artist_frame_div {
    background-image: url(assets/images/circleFrame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Styling and Positioning for the Artist Biography Information*/
.artist_info_container_div {
    width: 30%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
}

.artist_info_text {
    width: 95%;
    max-height: 100%;
    background-color: rgb(109, 109, 109);
    color: white;
    position: absolute;
    box-sizing: border-box;
    border: 20px solid transparent;
    border-image: url(assets/images/placardFrame.png) 100 round;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}
.artistName, .artistBio {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.artist_info_text > p {
    text-align: justify;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/*Styling and Positioning For Rotation Arrows*/
.buttonDiv {
    height: 50px;
    width: 50px;
    border: 3px solid grey;
    border-radius: 100%;
    position: fixed;
}

.previousPainting, .nextPainting {
    top: 50%;
    transition: .5s;
}

.previousPainting {
    right: 48%;
    transform: translate(-50vmin, -50%);
}

.nextPainting {
    left: 48%;
    transform: translate(50vmin, -50%);
}

.rotateTop, .rotateDown {
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.rotateTop {
    top: 1vmin;
}

.rotateDown {
    bottom: -10vmin;
}

.arrow {
    position: absolute;
    border-color: grey;
    border-style: solid;
    height: 40%;
    width: 40%;
}

.leftArrow, .rightArrow {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.topArrow, .downArrow {
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
}

.leftArrow {
    border-width: 0 0 3px 3px;
    left: 60%;
}

.rightArrow {
    left: 40%;
    border-width: 3px 3px 0 0;
}

.topArrow {
    top: 60%;
    border-width: 3px 0 0 3px;
}

.downArrow {
    border-width: 0 3px 3px 0;
    top: 40%;
}

.clickable > div, .clickable {
    border-color: black;
}

.clickable:hover > div, .clickable:hover {
    border-color: deepskyblue;
}

/*Style and Positioning For Start-Up Gallery Doors*/

.leftDoor, .rightDoor, .leftDoorGlass, .rightDoorGlass {
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0;
    z-index: 3;
}

.leftDoorGlass, .rightDoorGlass {
    background-color: rgba(255, 255, 255, .4);
}

.leftDoor, .leftDoorGlass {
    right: 50vw;
}

.rightDoor, .rightDoorGlass {
    left: 50vw;
}

.pleaseWaitSign {
    background-color: rgb(109, 109, 109);
    font-size: 20px;
    color: white;
    position: absolute;
    box-sizing: border-box;
    border: 20px solid transparent;
    border-image: url(assets/images/placardFrame.png) 100 round;
    text-align: center;
    z-index: 4;
    left: 50%;
    animation: swing 4s linear infinite;
    transform: translateX(-50%);
    transition: 1s;
    bottom: 30vh;
}

/*Animations for the Sliding Doors and Please Wait Sign*/
@keyframes openLeft {
    from {right: 50vw}
    to {right: 200vw}
}

@keyframes openRight {
    from {left: 50vw}
    to {left: 200vw}
}

@keyframes fall {
    0% {bottom: 30vh; transform-origin: top left}
    10% {bottom: 25vh; transform: rotate(90deg)}
    20% {bottom: -30vh; transform: rotate(180deg)}
    100% {bottom: -50vh}
}

@keyframes swing {
    0% {transform: translateX(-50%) rotate(0deg); transform-origin: top}
    25% {transform: translateX(-50%) rotate(5deg)}
    50% {transform: translateX(-50%) rotate(0deg)}
    75% {transform: translateX(-50%) rotate(-5deg)}
    100% {transform: translateX(-50%) rotate(0deg)}
}