button {
    position: fixed;
}


.content_container {
    background-image: url(assets/images/gallery2.png);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-position: center;
    perspective: 3000px;
    top: 0;
    left: 0;
}

.gallery_column {
    height: 100vh;
    transform: translate3d(-49vmin, 0, -49vmin);
    transform-origin: 49vmin 0 -49vmin;
    position: absolute;
    transform-style: preserve-3d;
    transition: 1.9s;
}

.gallery_wall_1, .gallery_wall_2, .gallery_wall_3, .gallery_wall_4 {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url(assets/images/witewall_3.png);
    box-sizing: border-box;
    box-shadow: 2px 0 10px 1px grey;
}

.gallery_wall_1 {
    transform: translate3d(-49vmin, 0, -49vmin) rotate3d(0, 1, 0, -90deg);
}

.gallery_wall_2 {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
}

.gallery_wall_3 {
    transform: translate3d(49vmin, 0, -49vmin) rotate3d(0, 1, 0, 90deg);
}

.gallery_wall_4 {
    transform: translate3d(0, 0, -98vmin) rotate3d(0, 1, 0, 180deg);
}

.gallery_container_div {
    height: 98vmin;
    width: 98vmin;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: column wrap;
}

.painting_container_div {
    position: relative;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painting_frame_div {
    background-image: url(assets/images/squareFrame.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%
}

.painting_image_container_div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content:  center;
    width: 90%;
    height: 90%;
    background-image: url(assets/images/cheap_diagonal_fabric.png);
    border: 30px solid transparent;
    box-sizing: border-box;
}

.painting_image_div {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.map_container_div {
    width: 60%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_frame_div {
    background-image: url('assets/images/tealFrameWide.png');
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.map_image_div {
    position: absolute;
    width: 81%;
    height: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 1px 3px white;
}


.artist_container_div {
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist_image_div {
    border-radius: 100%;
    background-size: contain;
    position: absolute;
    width: 65%;
    height: 65%;
}

.artist_frame_div {
    background-image: url(assets/images/circleFrame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.artist_info_container_div {
    width: 30%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
}

.artist_info_text {
    width: 95%;
    max-height: 100%;
    background-color: dimgray;
    color: white;
    position: absolute;
    box-sizing: border-box;
    border-width: 10px;
    border-color: darkgray;
    border-style: inset;
    font-family: 'Lora', serif;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 6%;
}
.artistName, .artistBio {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.artist_info_text > p {
    text-align: justify;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.nameplate{
    position: absolute;
    bottom: -160px;
    background-image: url(assets/images/nameplate.png);
    height: 70.56%;
    width: 60%;
    background-size: contain;
    display: flex;
    text-align: center;
    justify-content: center;
}

.buttonDiv {
    height: 50px;
    width: 50px;
    border: 3px solid grey;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.previousPainting {
    left: 1vmin;
}

.nextPainting {
    right: 1vmin;
}

.arrow {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border-color: grey;
    border-style: solid;
    height: 40%;
    width: 40%;
    top: 50%;
}

.leftArrow {
    border-width: 0 0 3px 3px;
    left: 60%;
}

.rightArrow {
    left: 40%;
    border-width: 3px 3px 0 0;
}

.clickable > div {
    border-color: black;
}

.clickable {
    border-color: black;
    animation: beat 1s infinite alternate;
    box-shadow: 0 0 0 1px black;
    transform-origin: center;
}

@keyframes beat {
    to {box-shadow: 0 0 0 3px black}
}
