button {
    position: fixed;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_wall {
    position: absolute;
    top: 0;
    height: 100vh;
    background-image: url(assets/images/vintage-concrete.png);

}

.gallery_container_div {
    height: 98vmin;
    width: 98vmin;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: column wrap;
}

.painting_container_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vmin;
    height: 60vmin;
    background-image: url(assets/images/whiteFrame.jpg);
    background-size: contain;
}

.painting_div {
    width: 50vmin;
    height: 50vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.map_container_div {
    width: 60vmin;
    height: 30vmin;
    background-color: #00de00;
}

.artist_container_div {
    width: 30vmin;
    height: 30vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: grey;
}

.artist_info_container_div {
    width: 30vmin;
    height: 60vmin;
    background-color: crimson;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
#button_ctn{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
#previousPainting{
}
#nextPainting{
}